@import "tailwindcss";

:root {
  --font-inter: sans-serif;
  --font-montserrat: sans-serif;
}

@theme {
  --font-inter: var(--font-inter);
  --font-montserrat: var(--font-montserrat);
}

@media (prefers-color-scheme: dark) {
}

body {
  @apply font-inter text-base leading-relaxed text-black;
}
h1 {
  @apply font-montserrat font-semibold text-4xl md:text-5xl lg:text-6xl tracking-tight;
}

h2 {
  @apply font-montserrat font-semibold text-3xl md:text-4xl lg:text-5xl;
}

h3 {
  @apply font-montserrat text-2xl md:text-3xl;
}
h5 {
  @apply font-montserrat text-2xl md:text-3xl;
}

p {
  @apply font-montserrat text-xs md:text-base text-gray-700;
}

a {
  @apply font-montserrat transition hover:opacity-70;
}

@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/autoplay";

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  background: rgba(255, 255, 255, 0.3) !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  width: 12px !important;
  height: 12px !important;
  background: #c67a2b !important;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 0.8s ease-out forwards;
}
